// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body
{
    background: #f8fafc;
}
.pagination {
    justify-content: center;
    margin-top: 20px;
}
.counters
{
    text-align: center;
    b {
        display: block;
        font-size: 1rem;
    }
    .answer
    {
        padding: 10px;
    }
}
.question
{
    h5, span{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
    }
}

.answered{
    color: $green-color;
    border: 1px solid $green-color;
}

.accept-as-answered{
    background: $green-color;
    color: white;
}

.vote-info
{
    a{
        color: black;
    }
    a.vote-up, a.vote-down
    {
        color: $gray-500;
    }

    a.vote-up.on, a.vote-down.on
    {
        color: $gray-700;
    }
    span.favorite, a.favorite
    {
        color: $gray-500;
    }
    span.favorite.on, a.favorite.on{
        color: $orange;
    }
    .votes-count
    {
        font-size: 25px;
    }
    span.favorite-count
    {
        font-size: 13px;
        &.on
        {
            color: $orange;
        }
    }
    a.vote-accepted
    {
        color: $green;
    }

}

button.delete-answer-button i
{
    color: $danger;
}
div.horizon-except-last
{
    padding: 20px 0;
    &:not(:last-child)
    {
        border-bottom: 1px solid rgba(128, 128, 128, 0.30980392156862746)
    }
}
[v-cloak]
{
    display: none;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}





